<launch>

  <arg name="gui" default="true" />

  <param name="robot_description" default="$(find trackIRBT2005_support)/urdf/irbt2005_macro.xacro"/>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
